.buffer {
    margin-right: 5%;
    margin-left: 5%;
}

.goals {
    display: flex;
    justify-content: space-around;
}

.calorie-div {
    margin-bottom: 0px;
}

.description {
    margin-top: 0px;
}

.card {
    max-width: 700px;
    height: 300px;
    margin: auto;
}

.icon {
    height: 150px;
    width: 150px;
    max-width: 100%;
    border-radius: 50%;
    font-size: 55px;
    position: relative;
    margin: 20px auto;
}

.label {
    font-size: 15px;
}

.CircularProgressbar {
    width: 150px;
    height: 150px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: red;
}